/* Se agregaron punto y coma faltantes */
input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}
/* Se añadio flex-wrap para que al haber muchos productos, estos se acomoden en varias lineas */
#lista-de-productos {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
}